<form [formGroup]="teachersForm" class="needs-validation">
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Nome</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              teachersForm.get('nome').errors &&
              teachersForm.get('nome').touched
          }"
          formControlName="nome"
        />
        <div
          *ngIf="
            teachersForm.get('nome').hasError('required') &&
            teachersForm.get('nome').touched
          "
          class="invalid-feedback"
        >
          Nome é obrigatório
        </div>
        <div
          *ngIf="
            teachersForm.get('nome').hasError('minlength') &&
            teachersForm.get('nome').touched
          "
          class="invalid-feedback"
        >
          Minimo de 5 caracteres.
        </div>
        <div
          *ngIf="
            teachersForm.get('nome').hasError('maxlength') &&
            teachersForm.get('nome').touched
          "
          class="invalid-feedback"
        >
          Maximo de 50 caracteres.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>telefone</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              teachersForm.get('telefone').errors &&
              teachersForm.get('telefone').touched
          }"
          formControlName="telefone"
        />
        <div
          *ngIf="
            teachersForm.get('telefone').hasError('required') &&
            teachersForm.get('telefone').touched
          "
          class="invalid-feedback"
        >
          Telefone é obrigatório
        </div>
        <div
          *ngIf="
            teachersForm.get('telefone').hasError('max') &&
            teachersForm.get('telefone').touched
          "
          class="invalid-feedback"
        >
          Informe no maximo 11 digitos.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>CPF</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              teachersForm.get('cpf').errors && teachersForm.get('cpf').touched
          }"
          formControlName="cpf"
        />
        <div
          *ngIf="
            teachersForm.get('cpf').hasError('required') &&
            teachersForm.get('cpf').touched
          "
          class="invalid-feedback"
        >
          CPF é obrigatório
        </div>
        <div
          *ngIf="teachersForm.get('cpf').hasError('maxlength')"
          class="invalid-feedback"
        >
          Informe no maximo 11 digitos.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>RG</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              teachersForm.get('rg').errors && teachersForm.get('rg').touched
          }"
          formControlName="rg"
        />
        <div
          *ngIf="teachersForm.get('rg').hasError('required')"
          class="invalid-feedback"
        >
          RG é obrigatório
        </div>
        <div
          *ngIf="
            teachersForm.get('rg').hasError('maxlength') &&
            teachersForm.get('rg').touched
          "
          class="invalid-feedback"
        >
          Informe no maximo 10 digitos.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Endereco</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              teachersForm.get('endereco').errors &&
              teachersForm.get('endereco').touched
          }"
          formControlName="endereco"
        />
        <div
          *ngIf="
            teachersForm.get('endereco').hasError('required') &&
            teachersForm.get('endereco').touched
          "
          class="invalid-feedback"
        >
          Endereco é obrigatório
        </div>
        <div
          *ngIf="
            teachersForm.get('endereco').hasError('maxlength') &&
            teachersForm.get('endereco').touched
          "
          class="invalid-feedback"
        >
          Maximo de 50 caracteres.
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!teachersForm.valid"
      (click)="salvarRegistro(createTemplate)"
    >
      Salvar
    </button>
    <button id="" class="btn btn-danger">Close</button>
  </div>
</form>
