<h3 class="subtitle text-center">CLASSES</h3>

<br />
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label for="" class="mr-2">Filtro:</label>
      <input
        type="text"
        class="form-control mr-2"
        [(ngModel)]="filtroLista"
        placeholder="Buscar"
      />
    </div>
  </div>

  <div>
    <button class="btn btn-outline-primary" (click)="novaClasse(template)">
      <i class="fa fa-plus-circle"></i>&nbsp; Nova Classe
    </button>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">SERIE</th>
      <th scope="col">TURMA</th>
      <th scope="col">TURNO</th>
      <th scope="col">PROFESSORA</th>
      <!-- <th scope="col">turma</th>
      <th scope="col">ENDEREÇO</th> -->
      <th scope="colspan"></th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor="let classe of classes">
      <td>{{ classe.serie | uppercase }}</td>
      <td>{{ classe.turma | uppercase }}</td>
      <td>{{ classe.turno | uppercase }}</td>
      <td>{{ classe.professor.nome }}</td>
      <!-- <td>{{ classe.professor_id }}</td> -->
      <!-- <td>{{ classe.professor.nome }}</td>
      <td>{{ classe.endereco }}</td> -->
      <td>
        <div>
          <button
            class="btn btn-primary"
            id="btn_alterar"
            (click)="editarClasses(classe, template)"
          >
            Alterar
          </button>
          <button
            class="btn btn-danger"
            id="btn_deletar"
            (click)="excluirClasses(classe, confirme)"
          >
            Deletar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Cadastro de Classes
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="classesForm" class="needs-validation">
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label>Serie</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      classesForm.get('serie').errors &&
                      classesForm.get('serie').touched
                  }"
                  formControlName="serie"
                />
                <div
                  *ngIf="
                    classesForm.get('serie').hasError('required') &&
                    classesForm.get('serie').touched
                  "
                  class="invalid-feedback"
                >
                  Serie é obrigatório
                </div>
                <div
                  *ngIf="
                    classesForm.get('serie').hasError('maxlength') &&
                    classesForm.get('serie').touched
                  "
                  class="invalid-feedback"
                >
                  Maximo de 20 caracteres.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Turma</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      classesForm.get('turma').errors &&
                      classesForm.get('turma').touched
                  }"
                  formControlName="turma"
                />
                <div
                  *ngIf="
                    classesForm.get('turma').hasError('required') &&
                    classesForm.get('turma').touched
                  "
                  class="invalid-feedback"
                >
                  Turma é obrigatório
                </div>
                <div
                  *ngIf="
                    classesForm.get('turma').hasError('maxlenght') &&
                    classesForm.get('turma').touched
                  "
                  class="invalid-feedback"
                >
                  Informe no maximo 20 caracteres.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Período</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      classesForm.get('turno').errors &&
                      classesForm.get('turno').touched
                  }"
                  formControlName="turno"
                />
                <div
                  *ngIf="
                    classesForm.get('turno').hasError('required') &&
                    classesForm.get('turno').touched
                  "
                  class="invalid-feedback"
                >
                  Turno é obrigatório
                </div>
                <div
                  *ngIf="classesForm.get('turno').hasError('maxlength')"
                  class="invalid-feedback"
                >
                  Informe no maximo 20 caracteres.
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>Professor</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      classesForm.get('professor').errors &&
                      classesForm.get('professor').touched
                  }"
                  formControlName="professor"
                />
                <div
                  *ngIf="classesForm.get('professor').hasError('required')"
                  class="invalid-feedback"
                >
                  Professor é obrigatório
                </div>
                <div
                  *ngIf="
                    classesForm.get('professor').hasError('maxlength') &&
                    classesForm.get('professor').touched
                  "
                  class="invalid-feedback"
                >
                  Informe no maximo 10 digitos.
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer d-flex">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!classesForm.valid"
            (click)="salvarRegistro(template)"
          >
            Salvar
          </button>
          <button
            id=""
            class="btn btn-danger ml-auto"
            (click)="template.hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #confirme="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Deletar Professor
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="confirme.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ bodyDeletarClasse }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="confirme.hide()">
          CANCELAR
        </button>
        <button
          class="btn btn-outline-danger"
          (click)="confirmeDelete(confirme)"
        >
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>
